In [1]:
# Tesla Models query

# Tesla just provided their quarterly sales for their major vehicles.

# Determine which Tesla Model has made the most profit.

# Include all columns with the "profit" column at the end.

In [4]:
from prettytable import PrettyTable 
import pandas as pd 
# Column Names 
myTable = PrettyTable(["tesla_model", "car_price", "cars_sold", "production_cost"]) 
 
# Rows 
myTable.add_row(["Model 3", 46990, 156357, 21000]) 
myTable.add_row(["Model S", 104990, 23464, 43000]) 
myTable.add_row(["Model X", 120990, 19542, 48000]) 
myTable.add_row(["Model Y", 65990, 191451, 35000])
 
print(myTable)

+-------------+-----------+-----------+-----------------+
| tesla_model | car_price | cars_sold | production_cost |
+-------------+-----------+-----------+-----------------+
|   Model 3   |   46990   |   156357  |      21000      |
|   Model S   |   104990  |   23464   |      43000      |
|   Model X   |   120990  |   19542   |      48000      |
|   Model Y   |   65990   |   191451  |      35000      |
+-------------+-----------+-----------+-----------------+

In [5]:
# Convert myTable to pandas DataFrame

df = pd.DataFrame(myTable.rows, columns=myTable.field_names)


# Calculate and assign profit as new column

df = df.assign(profit = df.car_price*df.cars_sold-df.production_cost*df.cars_sold)


# Find row with maximum profit

max_profit_row = df.loc[df['profit'].idxmax()]


# Convert max profit row to DataFrame and transpose

max_profit_df = pd.DataFrame(max_profit_row).transpose()


# Solution

print(max_profit_df.reset_index(drop = True))

  tesla_model car_price cars_sold production_cost      profit
0     Model Y     65990    191451           35000  5933066490