In [3]:
# A Computer store is offering a 25% discount for all new customers 
# over the age of 65 or customers that spend more than $200 
# on their first purchase.

# The owner wants to know how many customers received that discount
# since they started the promotion.

# Write a query to see how many customers received that discount.

In [4]:
from prettytable import PrettyTable 
import pandas as pd
 
# Column Names 
myTable = PrettyTable(["customer_id", "age", "total_purchase"]) 
 
# Rows 
myTable.add_row([1001, 72, 1053]) 
myTable.add_row([1002, 86, 826]) 
myTable.add_row([1003, 37, 713]) 
myTable.add_row([1004, 61, 923])
myTable.add_row([1005, 50, 90]) 
myTable.add_row([1006, 45, 1057]) 
myTable.add_row([1007, 39, 673]) 
myTable.add_row([1008, 69, 952])
myTable.add_row([1009, 29, 874]) 
myTable.add_row([1010, 23, 524]) 
myTable.add_row([1011, 81, 496]) 
myTable.add_row([1012, 62, 384])
myTable.add_row([1013, 80, 1059]) 
myTable.add_row([1014, 99, 1071]) 
myTable.add_row([1015, 75, 1015]) 
print(myTable)

+-------------+-----+----------------+
| customer_id | age | total_purchase |
+-------------+-----+----------------+
|     1001    |  72 |      1053      |
|     1002    |  86 |      826       |
|     1003    |  37 |      713       |
|     1004    |  61 |      923       |
|     1005    |  50 |       90       |
|     1006    |  45 |      1057      |
|     1007    |  39 |      673       |
|     1008    |  69 |      952       |
|     1009    |  29 |      874       |
|     1010    |  23 |      524       |
|     1011    |  81 |      496       |
|     1012    |  62 |      384       |
|     1013    |  80 |      1059      |
|     1014    |  99 |      1071      |
|     1015    |  75 |      1015      |
+-------------+-----+----------------+

In [34]:
# Convert myTable to pandas DataFrame

df = pd.DataFrame(myTable.rows, columns=myTable.field_names)


# Find rows that meet one of both conditions 

benefited_customers_df = df[(df["age"] > 65) | (df["total_purchase"] > 200)]


# Solution

benefited_customers_df["customer_id"].count()

14