In [25]:
# Electric Bike Replacement

# After about 10,000 miles, Electric bike batteries begin to degrade and need to be replaced.

# Write a query to determine the amount of bikes that currently need to be replaced.

In [26]:
from prettytable import PrettyTable 
import pandas as pd
 
# Column Names 
myTable = PrettyTable(["bike_id", "miles"]) 
 
# Rows 
myTable.add_row([120320, 15842]) 
myTable.add_row([120321, 15027]) 
myTable.add_row([120322, 6657]) 
myTable.add_row([120323, 22431])
myTable.add_row([120324, 14427]) 
myTable.add_row([120325, 6868]) 
myTable.add_row([120326, 9341]) 
myTable.add_row([120327, 17345])
myTable.add_row([120328, 14668]) 
myTable.add_row([120329, 11322]) 
myTable.add_row([120330, 22363]) 
myTable.add_row([120331, 4939])
myTable.add_row([120332, 915]) 
myTable.add_row([120333, 6380])

print(myTable)

+---------+-------+
| bike_id | miles |
+---------+-------+
|  120320 | 15842 |
|  120321 | 15027 |
|  120322 |  6657 |
|  120323 | 22431 |
|  120324 | 14427 |
|  120325 |  6868 |
|  120326 |  9341 |
|  120327 | 17345 |
|  120328 | 14668 |
|  120329 | 11322 |
|  120330 | 22363 |
|  120331 |  4939 |
|  120332 |  915  |
|  120333 |  6380 |
+---------+-------+

In [32]:
# Convert myTable to pandas DataFrame

all_bikes_df = pd.DataFrame(myTable.rows, columns=myTable.field_names)


# Find rows that meet the condition

bikes_to_replace_df = pd.DataFrame(all_bikes_df.loc[df["miles"] > 10000])


# Count rows that meet the condition

bikes_to_replace_df["bike_id"].count()

8